.boton-contenedor {
	display: flex;
	justify-content: space-between;
}

@media (max-width: 767px) {
	.boton-contenedor {
		flex-wrap: wrap;
	}
	
	.boton-imagen {
		margin-bottom: 10px;
	}
}

/* HEADER */

.tab-content{
  color: #f2f2f2;
  text-align: center;
}


/* Add a black background color to the top navigation */
.nav-tabs{
  background-color:#223950;
  overflow: hidden;
}

.nav-tabs li.active{
  background-color: #522121;
  color: rgb(243, 235, 235); 
}

/* Style the links inside the navigation bar */
.nav-tabs a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.nav-tabs a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.nav-tabs a.active {
  background-color:#365472;
  color: white;
}

/* Hide the link that should open and close the nav-tabs on small screens */
.nav-tabs .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the nav-tabs (.icon) */
@media screen and (max-width: 600px) {
  .nav-tabs a:not(:first-child) {display: none;}
  .nav-tabs.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the nav-tabs with JavaScript when the user clicks on the icon. This class makes the nav-tabs look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .nav-tabs.responsive {position: relative;}
  .nav-tabs.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav-tabs.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* FOOTER */
.footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }